.crossword-grid-base {
  width: 100%;
  height: 100%;
  margin-top: 3rem;
  margin-right: 5rem;
  background-color: gray;
}

.placed-cell {
  border: 2px solid white;
}

.placed-cell:hover {
  border: 2px solid red;
}
